@import "popup.css";
@import "inputs.css";

body {
    font-family: 'Open Sans', sans-serif;
}

.body_fixed {
    overflow: hidden;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.header {
    padding: 20px;
    background-color: rgba(18, 18, 18, 0.8);
} 

.header__line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__image {
    width: 100px;
    height: 80px;
}

.nav  {
    display: flex;
    gap: 40px;
    }

.nav__item {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-decoration: none;
    color:#FFF;
}

.nav__item:hover {
    opacity: 0.5;
    transition: color 0.3s linear;
}

.number_link {
    width: 131px;
    height: 25px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 20px;
    color:#fff;
}

.number_link:hover {
    opacity: 0.5;
    transition: color 0.3s linear;
}

.phone__text {
    width: 180px;
    height: 38px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color:#fff;
}

.phone__holder {
    display: flex;
    align-items: center;
    gap: 10px;
}

.button {
    width: 157px;
    height: 47px;
    padding: 14px 18px;
    background-color: #FF7400;
    border: 1px solid #FF7400;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
    border-radius: 5px;
    color:#000;
}

.button:hover {
    background-color:#FFF;
    border: 1px solid #000;
    transition: color 0.2s linear;
}

.header__down {
    position: relative;
}

.header__title {
    position: absolute;
    top: 300px;
    left: 350px;
    padding-bottom: 20px;
    font-family: Tinos;
    font-size: 50px;
    text-align: center;
    color:#FF7400;
}

.header__quote {
    font-family: Open Sans;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #FFF;
}

.header__quote:after {
    position: absolute;
    top: 130px;
    left: -48px;
    content: '';
    height: 1px;
    width: 43px;
    background-color: #FFF;
}

.header__quote:before {
    position: absolute;
    top: 130px;
    left: 688px;
    content: '';
    height: 1px;
    width: 43px;
    background-color: #FFF;
}

.header__btn {
    margin-top: 40px;
}

.header__button {
    padding: 14px 28px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #FF7400;
    background-color: #FF7400;
    color:#000;
}

.header__button:hover {
    background-color:#FFF;
    border: 1px solid #000;
    transition: color 0.3s linear;
}

.section-advantages {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #FFF;
}

.cards__main-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 700px;
    text-align: center;
    padding-bottom: 35px;
    padding-right: 35px;
} 

.cards__holder {
    display: flex;
    justify-content: space-between;
    gap: 20px;
} 

.card__advantages {
    position: relative;
    width: 349px;
    height: 328px;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.10);
    padding: 60px;
} 

.card__image {
    display: flex;
    justify-content: center;
    height: 50px;
}

.card__title {
    display: flex;
    justify-content: center;
    font-family: Tinos;
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card_description {
    display: flex;
    justify-content: center;
    font-size: 22px;
    text-align: center; 
} 

.section-instructors {
    padding-top: 45px;
    padding-bottom: 70px;
    background-color: #FFF;
}

.instructors__title {
    margin-top: 32px;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    text-align: center;
    color: #000;
}

.instructors__subtitle {
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #000;
}

.instructors__items {
    display: flex;
    gap: 40px;
    
}

.instructor__item {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 453px;
    background-color: #FFF;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.10);
    text-align: center;
    border-radius: 5px;
}

.instructor__image {
    width: 60%;
    border-radius: inherit;
}

.instructor__name{
    font-family: Tinos;
    font-size: 23px;
    color: #000;
    padding: 16px 10px 17px 10px;
}

.instrucrors__items-row {
    margin-top: 40px;
    display: flex;
    gap: 40px;
}

.instructor__description {
    padding: 16px 10px 17px 10px;
}

.instructor__advances {
    padding-bottom: 10px;
    font-family: Tinos;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
}

.advances__list {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
}

.instrucrors__items-gym-yog {
    margin-top: 40px;
    display: flex;
    gap: 40px;
}

.instrucrors__items-pilates {
    width: 453px;
    margin-top: 40px;
    display: flex;
    gap: 40px;
}

.footer {
    background-color: rgba(18, 18, 18, 0.8);
}

.footer__nav {
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer__nav-link {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.5s;
}

.footer__nav-link:hover {
    opacity: 0.5;
}

.footer__social-media {
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.social-media__link {
    font-family: Tinos;
    font-size: 21px;
    line-height: 30px;
    text-decoration: none;
    transition: 0.5s;
    opacity: 0.5;
    color: #fff;
}

.social-media__text {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    line-height: 27px;
    opacity: 0.5;
    color: #FFFFFF;
}


.social-media__link:before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}

.social-media__link:before {
    width: 50px;
    height: 50px;
    background-image: url('resources/vk_icon.png');
}


.footer__text {
    margin-top: 35px;
    text-align: center;
    font-size: 20px;
    line-height: 27px;
    opacity: 0.5;
    color: #FFFFFF;
}

@media (max-width: 1400px) {

    .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 1199px) {
    
    .phone,
    .btn {
        display: none;
    }

    .header {
        padding: 10px;
    }

    .header__image {
        width: 80px;
        height: 50px;
    }

    .number_link {
        font-size: 16px;
    }

    .button {
        padding: 10px 16px;
        font-size: 12px;
    }

    .header__btn {
        margin-top: 45px;
    }

    .header__button {
        padding: 12px;
        font-size: 12px;
    }

    .footer {
        width: 100%;
    }
    
}

@media (max-width: 992px) {

    .instructors__items {
        display: flex;
        flex-direction: column;
    }

    .instructor__item {
        width: 100%;
    }

    .instrucrors__items-row {
        display: flex;
        flex-direction: column;
        
    }

    .instrucrors__items-gym-yog {
        display: flex;
        flex-direction: column;
    }

    .instrucrors__items-pilates {
        display: flex;
        flex-direction: column;
        width: 100%;

    }
    }
    

@media (min-width: 767px) {

    .header__image {
        width: 60px;
        height: 40px;
}

.footer {
    padding: 30px 0 26px 0;
}

.footer__nav {
    gap: 20px;
    padding-top: 20px;
}

.footer__nav-link {
    font-size: 10px;
    line-height: 16px;
    padding: 0;
}

.social-media__text {
    margin-top: 20px;
    font-size: 16px;
    line-height: 18px;
}

.footer__text {
    margin-top: 30px;
    font-size: 16px;
    line-height: 18px;
}

}

@media (max-width: 576px) {

    .header__image {
        width: 30px;
        height: 30px;
}

    .nav {
        gap: 15px;
    }

    .nav__item {
        font-size: 9px;
    }

    .footer__nav {
        gap: 15px;
    }

    .footer__nav-link {
        font-size: 10px;
    }

    .footer__social-media {
        padding-top: 40px;
    }

    .social-media__link:before {
        width: 40px;
        height: 40px;
    }
}

