@import "popup.css";
@import "inputs.css";

body {
    font-family: 'Open Sans', sans-serif;
}

.body_fixed {
    overflow: hidden;
}

.content-container {
    width: 722px;
    margin: 0 auto;
    padding-top: 100px;
}

.header {
    padding: 20px;
    background-color: rgba(18, 18, 18, 0.8);
}

.header__line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__image {
    width: 100px;
    height: 80px;
}

.nav__item {
    margin: 25px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-decoration: none;
    color:#FFF;
}

.nav__item:hover {
    opacity: 0.5;
    transition: color 0.3s linear;
}

.number_link {
    width: 131px;
    height: 25px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 20px;
    color:#FFF;
}

.number_link:hover {
    opacity: 0.5;
    transition: color 0.3s linear;
}

.phone__text {
    width: 180px;
    height: 38px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color:#FFF;
}

.phone__holder {
    display: flex;
    align-items: center;
    gap: 10px;
}

.button {
    width: 157px;
    height: 47px;
    padding: 14px 18px;
    background-color: #FF7400;
    border: 1px solid #FF7400;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
    border-radius: 5px;
    color:#000;
}

.button:hover {
    background-color:#FFF;
    border: 1px solid #000;
    transition: color 0.2s linear;
}

.header__down {
    position: relative;
}

.header__title {
    position: absolute;
    top: 300px;
    left: 350px;
    padding-bottom: 20px;
    font-family: Tinos;
    font-size: 50px;
    text-align: center;
    color:#FF7400;
}

.header__quote {
    font-family: Open Sans;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #FFF;
}

.header__quote:after {
    position: absolute;
    top: 130px;
    left: -48px;
    content: '';
    height: 1px;
    width: 43px;
    background-color: #FFF;
}

.header__quote:before {
    position: absolute;
    top: 130px;
    left: 688px;
    content: '';
    height: 1px;
    width: 43px;
    background-color: #FFF;
}

.header__btn {
    margin-top: 40px;
}

.header__button {
    padding: 14px 28px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #FF7400;
    background-color: #FF7400;
    color:#000;
}

.header__button:hover {
    background-color:#FFF;
    border: 1px solid #000;
    transition: color 0.3s linear;
}

.block-news {
    padding-top: 50px;
}

.news {
    display: flex;
    flex-direction: column;
}

.news__title {
    font-family: Tinos;
    font-size: 40px;
    line-height: 70px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #121212;

}

.date__news {
    padding-top: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 27px;
}

.news__subtitle {
    padding-top: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 27px;
    font-weight: bold;
    line-height: 27px;
}

.news__text {
    padding-top: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 27px;
    text-align: justify;
}

.photos-container {
    width: 1150px;
    margin: 0 auto;
    padding-top: 50px;
}

.photos__item img {
    width: 380px;
    height: 300px;
    object-fit: cover;
    border-radius: inherit;
    transition: transform 0.3s ease;
}

.photos__item img:hover {
    transform: scale(1.5);
}

.gallery-section {
    position: relative;
    background-color: #FFF;
    padding-top: 100px;
}

.gallery {
    width: 1150px;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .slide {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
  
  .slide.active {
    display: block;
  }
  
  .prev-btn,
  .next-btn {
    position: absolute;
    top: 50%;
    width: 80px;
    height: 80px;
    transform: translateY(-50%);
    font-size: 35px;
    border-radius: 50%;
    border: none;
    transition: transform 0.5s;
    color: white;
    background-color: rgba(0, 0, 0, 0.2); 
    opacity: 0.5;
  }

  .prev-btn:hover,
  .next-btn:hover {
    transform: translateY(-5px);
  }
  
  .prev-btn {
    left: 148px;
  }
  
  .next-btn {
    right: 148px;
  }

  .sokolov_img {
    padding-top: 50px;
    width: 700px;
  }

    
.footer {
    padding: 60px 0 30px 0;
    background-color: rgba(18, 18, 18, 0.8);
}

.footer__nav {
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer__nav-link {
    display: block;
    padding: 10px 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.5s;
}

.footer__nav-link:hover {
    opacity: 0.5;
}

.footer__social-media {
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.social-media__link {
    font-family: Tinos;
    font-size: 21px;
    line-height: 30px;
    text-decoration: none;
    transition: 0.5s;
    opacity: 0.5;
    color: #fff;
}

.social-media__text {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    line-height: 27px;
    opacity: 0.5;
    color: #FFFFFF;
}


.social-media__link:before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}

.social-media__link:before {
    width: 50px;
    height: 50px;
    background-image: url('resources/vk_icon.png');
}

.footer__text {
    margin-top: 87px;
    text-align: center;
    font-size: 20px;
    line-height: 27px;
    opacity: 0.5;
    color: #FFFFFF;
}


@media (max-width: 1200px) {
    .content-container {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    .news__title {
        width: 1140px;
    }

    .photos__item img {
        width: 100%;
        height: 100%
}

.next-btn {
    right: 32px;
}

.prev-btn {
    left: 32px;
}

.sokolov_img {
    width: 100%;
}

}

@media (max-width: 992px) {
    .news {
        width: 1099px;
    }
}

@media (max-width: 390px) {
    .news {
        width: 1088px;
    }
}
