body {
    font-family: 'Open Sans', sans-serif;
    background-color: #000;
}

/* Хэдэр */

.container {
    width: 1440px;
    margin: 0 auto;
}

.header {
    position: relative;
    width: 100%;
    background: linear-gradient( rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 1)), 
    url(resources/mainBackground.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
} 

.header__line {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__image {
    width: 100px;
    height: 80px;
}

.nav__item {
    margin: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
    color:#000;
}

.nav__item:hover {
    opacity: 0.5;
    transition: color 0.3s linear;
}

.number_link {
    width: 131px;
    height: 25px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 20px;
    color:#000;
}

.number_link:hover {
    opacity: 0.5;
    transition: color 0.3s linear;
}

.phone__text {
    width: 180px;
    height: 38px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color:#000;;
}

.phone__holder {
    display: flex;
    align-items: center;
    gap: 10px;
}

.button {
    width: 157px;
    height: 47px;
    padding: 14px 18px;
    background-color: #FF7400;
    border: 1px solid #FF7400;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
    border-radius: 5px;
    color:#000;
}

.button:hover {
    background-color:#FFF;
    border: 1px solid #000;
    transition: color 0.2s linear;
}

.header__down {
    position: relative;
}

.header__title {
    position: absolute;
    top: 300px;
    left: 350px;
    padding-bottom: 20px;
    font-family: Tinos;
    font-size: 50px;
    text-align: center;
    color:#FF7400;
}

.header__quote {
    font-family: Open Sans;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #FFF;
}

.header__quote:after {
    position: absolute;
    top: 130px;
    left: -48px;
    content: '';
    height: 1px;
    width: 43px;
    background-color: #FFF;
}

.header__quote:before {
    position: absolute;
    top: 130px;
    left: 688px;
    content: '';
    height: 1px;
    width: 43px;
    background-color: #FFF;
}

.header__btn {
    margin-top: 40px;
}

.header__button {
    padding: 14px 28px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #FF7400;
    background-color: #FF7400;
    color:#000;
}

.header__button:hover {
    background-color:#FFF;
    border: 1px solid #000;
    transition: color 0.3s linear;
}

h1 {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    color: #000;
    font-family: 'Open Sans', sans-serif;
}

.cards__holder {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card__advantages {
    width: 349px;
    height: 328px;
    background: #FFF;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.10);
    padding: 0px 10px;
}

.card__image {
    display: flex;
    justify-content: center;
    padding-top: 31px;
    padding-bottom: 65px;
    height: 50px;
}

.card__title {
    display: flex;
    justify-content: center;
    font-family: Tinos;
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
}

.card_description {
    display: flex;
    justify-content: center;
    font-family: Tinos;
    font-size: 22px;
    text-align: center;
}

.aboutus {
    margin-top: 166px;
}

.aboutus__title {
    font-family: Tinos;
    font-size: 54px;
    text-align: center;
}

.aboutus__title span {
    color: #FF7400;
}

.aboutus__description {
    color: #656363;
    font-size: 16px;
    text-align: center;
    margin-top: 21px;
    margin-bottom: 122px;
}

.gallery {
    position: relative;
}

.gallery__slides {
    width: 100%;
}

.gallery__slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.gallery__image {
    width: 100%;
}

.gallery__slide_active {
    opacity: 1;
}

.gallery__controls {
    position: absolute;
    width: 100%;  
} 

.field__holder {
    display: flex;
}

.school__fields {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #000;
}

.field__title {
    margin-bottom: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 34px;
    text-align: center;
    color: #000;
}

.field__item {
    background-color: #FFF;
    text-align: center;
    width: 82%;
    padding-bottom: 30px;
    border-radius: 5px;
}

.field_img {
    padding-top: 70px;
    width: 75%;
}

.field__text {
    font-family: Tinos;
    font-size: 19px;
    padding: 16px 10px 17px 10px;
}

.field__subtext {
    font-size: 16px;
}

.field__btn {
    background-color: #FF7400;
    text-decoration: none;
    padding: 14px 67px;
    color: #000;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.field__btn:hover {
    background-color:#FFF;
    border: 1px solid #000;
    transition: color 0.3s linear;
}

.field__button {
    margin-top: 20px;
}


