@import "popup.css";
@import "inputs.css";

body {
    font-family: 'Open Sans', sans-serif;
}

.body_fixed {
    overflow: hidden;
}

.container {
    width: 1440px;
    margin: 0 auto;
}

.header {
    padding: 20px;
    background-color: rgba(18, 18, 18, 0.8);
}

.header__line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__image {
    width: 100px;
    height: 80px;
}

.nav {
    display: flex;
    gap: 10px;
}

.nav__item {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-decoration: none;
    color:#FFF;
}

.nav__item:hover {
    opacity: 0.5;
    transition: color 0.3s linear;
}

.number_link {
    width: 131px;
    height: 25px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 20px;
    color:#fff;
}

.number_link:hover {
    opacity: 0.5;
    transition: color 0.3s linear;
}

.phone__text {
    width: 180px;
    height: 38px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color:#fff;
}

.phone__holder {
    display: flex;
    align-items: center;
    gap: 10px;
}

.button {
    width: 157px;
    height: 47px;
    padding: 14px 18px;
    background-color: #FF7400;
    border: 1px solid #FF7400;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
    border-radius: 5px;
    color:#FFF;
}

.button:hover {
    color: #000;
    background-color:#FFF;
    border: 1px solid #000;
    transition: color 0.2s linear;
}

.header__down {
    position: relative;
}

.header__title {
    position: absolute;
    top: 300px;
    left: 350px;
    padding-bottom: 20px;
    font-family: Tinos;
    font-size: 50px;
    text-align: center;
    color:#FF7400;
}

.header__quote {
    font-family: Open Sans;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #FFF;
}

.header__quote:after {
    position: absolute;
    top: 130px;
    left: -48px;
    content: '';
    height: 1px;
    width: 43px;
    background-color: #FFF;
}

.header__quote:before {
    position: absolute;
    top: 130px;
    left: 688px;
    content: '';
    height: 1px;
    width: 43px;
    background-color: #FFF;
}

.header__btn {
    margin-top: 40px;
}

.header__button {
    padding: 14px 28px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #FF7400;
    background-color: #FF7400;
    color:#000;
}

.header__button:hover {
    background-color:#FFF;
    border: 1px solid #000;
    transition: color 0.3s linear;
}

.title {
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 25px;
    text-align: center;
}

.section-information {
    padding-top: 50px;
    background-color: #FFF;
}

.yoga__holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 70px;
    row-gap: 80px;
    margin-top: 35px;
}

.yoga__title {
    font-family: Tinos;
    font-size: 40px;
    line-height: 70px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #121212;
}

.yoga__img {
    width: 400px;
    height: 400px;
    border-radius: inherit;
}

.yoga__text {
    text-indent: 45px;
    width: 555px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 27px;
    text-align: justify;
}

.yoga__quote{
    padding: 80px;
    line-height: 37px;
    font-size: 33px;
    font-style: italic;
    text-align: center;
    font-family: Tinos;
}

.gallery-section {
    position: relative;
    background-color: #FFF;
    padding-bottom: 50px;
}
.gallery {
    width: 700px;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .slide {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
  
  .slide.active {
    display: block;
  }
  
  .prev-btn,
  .next-btn {
    position: absolute;
    top: 50%;
    width: 80px;
    height: 80px;
    transform: translateY(-50%);
    font-size: 35px;
    border-radius: 50%;
    border: none;
    color: grey;
    transition: transform 0.5s;
  }

  .prev-btn:hover,
  .next-btn:hover {
    transform: translateY(-5px);
  }
  
  .prev-btn {
    left: 275px;
  }
  
  .next-btn {
    right: 275px;
  }

.services__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    text-align: center;
    color: #000;
}

.price-section {
    padding-top: 35px;
    background-color: #FFF;
}

 .services__price-holder {
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 30px;
    margin-top: 45px;
 }

.service {
    display: flex;
    gap: 115px;
    width: 972px;
    align-items:center;
    justify-content: space-around;
}


 .service__title {
    font-family: Tinos;
    font-weight: bold;
    font-size: 23px;
    width: 410px;
 }

 .service__price {
    font-family: Tinos;
    font-size: 19px;
 }

 .button-price {
    background-color: #FF7400;
    text-decoration: none;
    padding: 10px 30px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #FF7400;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
 }

 .button-price:hover {
    color: #000;
    border: 1px solid #000;
    transition: color 0.3s linear;
    background-color: #FFF;
}

.section-instructors {
    padding-top: 65px;
    background-color: #FFF;
}

.instructors__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    text-align: center;
    color: #000;
}

.instructors__items {
    display: flex;
}

.instructor__item {
    width: 390px;
    padding-top: 60px;
    text-align: center;
    border-radius: 5px;
}

.instructor__image {
    width: 60%;
    border-radius: inherit;
    transition: transform 0.3s ease;
}

.instructor__image:hover {
    transform: scale(1.5);
}

.instructor__name {
    font-family: Tinos;
    font-size: 23px;
    line-height: 31px;
    padding: 16px 10px 17px 10px;
    color: #000;
}

.footer {
    background-color: rgba(18, 18, 18, 0.8);
}

.footer__nav {
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer__nav-link {
    display: block;
   
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.5s;
}

.footer__nav-link:hover {
    opacity: 0.5;
}

.footer__social-media {
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.social-media__link {
    font-family: Tinos;
    font-size: 21px;
    line-height: 30px;
    text-decoration: none;
    transition: 0.5s;
    opacity: 0.5;
    color: #fff;
}

.social-media__text {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    line-height: 27px;
    opacity: 0.5;
    color: #FFFFFF;
}


.social-media__link:before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}

.social-media__link:before {
    width: 50px;
    height: 50px;
    background-image: url('resources/vk_icon.png');
}

.footer__text {
    margin-top: 35px;
    text-align: center;
    font-size: 20px;
    line-height: 27px;
    opacity: 0.5;
    color: #FFFFFF;
}

@media (max-width: 1400px) {

    .container {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 1199px) {
    
    .phone,
    .btn {
        display: none;
    }

    .header {
        padding: 10px;
    }

    .header__image {
        width: 80px;
        height: 50px;
    }

    .number_link {
        font-size: 16px;
    }

    .button {
        padding: 10px 16px;
        font-size: 12px;
    }

    .yoga__holder {
        row-gap: 30px;
    }

    .yoga__img {
        width: 100%;
    }

    .yoga__text {
        width: 100%;
    }

    
    .header__btn {
        margin-top: 45px;
    }

    .header__button {
        padding: 12px;
        font-size: 12px;
    }
    
    .gallery {
        width: 100%;
    }

    .prev-btn {
        left: 211px;
    }

    .next-btn {
        right: 211px;
    }

    .service {
        width: 100%;
    }

    .footer {
        width: 100%;
    }
}

@media (max-width: 976px) {
    .prev-btn {
        left: 95px;
    }

    .next-btn {
        right: 95px;
    }
}

@media (min-width: 767px) {

    .header__image {
        width: 60px;
        height: 40px;
}

.footer {
    padding: 30px 0 26px 0;
}

.footer__nav {
    gap: 20px;
    padding-top: 20px;
}

.footer__nav-link {
    font-size: 10px;
    line-height: 16px;
    padding: 0;
}

.social-media__text {
    margin-top: 20px;
    font-size: 16px;
    line-height: 18px;
}

.footer__text {
    margin-top: 30px;
    font-size: 16px;
    line-height: 18px;
}

}

@media (max-width: 700px) {

    .prev-btn {
        left: 47px;
    }

    .next-btn {
        right: 47px;
    }
    

    .services__title {
        font-size: 35px;
    }

    .service__title {
        font-size: 20px;
    }

    .service__price {
        font-size: 19px;
    }

    .button-price {
        padding: 8px 25px;
        font-size: 16px;
    }

    .price-section {
        padding-top: 0px;
    }

}

@media (max-width: 576px) {

    .header__image {
        width: 30px;
        height: 30px;
}

    .nav {
        gap: 5px;
    }

    .nav__item {
        font-size: 10px;
    }

    .yoga__title {
        font-size: 28px;
        line-height: 50px;
    }

    .yoga__text {
        font-size: 14px;
    }

    .prev-btn {
        left: 16px;
    }

    .next-btn {
        right: 16px;
    }

    .prev-btn,
    .next-btn {
        width: 30px;
        height: 30px;
        font-size: 15px;
}

    .service {
        gap: 60px;
    }

    .services__title {
        font-size: 28px;
    }

    .service__title,
    .service__price,
    .button-price {
        font-size: 14px;
    }

    .button-price {
        font-size: 10px;
        padding: 5px 5px;
    }

    .instructors__title {
        font-size: 35px;
    }

    .instructors__items {
        flex-wrap: wrap;
    }

    .instructor__item {
        width: 115%;
    }

    .instructor__image {
        width: 50%;
    }

    .footer__nav {
        gap: 15px;
    }

    .footer__nav-link {
        font-size: 10px;
    }

    .footer__social-media {
        padding-top: 40px;
    }

    .social-media__link:before {
        width: 40px;
        height: 40px;
    }
}


@media (max-width: 380px) {
.yoga__quote {
    font-size: 14px;
}

.slide {
    object-fit: contain;
}
}


